extends layout

block content

	img(src="/images/edit.png")
	h1 #{review.name}
	h2 #{review.placeType}
	p
		-for(var i=0; i<review.stars; i++)
			img(src="/images/star.png")
	p
		a(href="/reviews/")= "ALL REVIEWS"